{% extends 'base.html.twig' %}
{% block body %}




    <h1 class="row justify-content-center">Connexion</h1>


    <div class="container " >
    <div class="row justify-content-center ">

        <form action="{{ path('security_login') }}"method="post">
        <div class="form-group">
            <label>
                <input placeholder="Adresse email..." required name="_username" type = "text" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                <input placeholder="Mot de passe....." required name="_password" type = "password" class="form-control">
            </label>
        </div>
        <div class="container "  >
            <div class="row justify-content-center ">
        <div class="form-group">
            <button type="submit" class="btn btn-success"> Connexion</button>
        </div>
            </div>
        </div>
    </form>

 </div>


{% endblock %}