{% extends 'base.html.twig' %}



{% block body %}



        <h1 class="row justify-content-center">Bonjour Inscription sur le LMS </h1>

    <div class ="container">

        <div class="row justify-content-center ">

        {{ form_start(form) }}


    {{ form_row(form.username,{'label':'Nom d\'utilisateur','attr':
        {'placeholder':'Nom d\'utilisateur'}} ) }}



    {{ form_row(form.email,{'label':'votre email','attr':
        {'placeholder':'Adresse email.....'}} ) }}
    {{ form_row(form.password, {'label':'mot de passe','attr':{'placeholder' : 'mot de passe' }})}}
    {{ form_row(form.confirm_password,{'label':'confirmation du mot de passe','attr':
        {'placeholder':'Répétez votre mot de passe'}} ) }}

        </div>
    </div>


            <div class ="container">

                <div class="row justify-content-center ">

        <button type ="submit" class="btn.btn-succes">Inscription !</button>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
