{% extends 'base.html.twig' %}

{% block title %} CommentController!{% endblock %}

{% block body %}

        <h1 class="row justify-content-center"> Rédaction d'un nouveau comm</h1>

        {{ include('commentaire/_form.html.twig') }}



        <a href="{{ path('commentaire_index') }}">Revenir à la liste</a>



{% endblock %}
