{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}




{% block body %}
    <div class=" text-center">
    <h1> Bienvenu dans l'espace administrateur</h1> <br>


    <h2>prends le contrôle</h2> <br>


    <h3>Gérer les utilisateurs, les modules, et les actualités.</h3><br>

        <button class="btn"><a href="{{ path('admin_utilisateurs') }}" class="btn btn-warning">Modifier un utilisateur</a> </button> <br>


        <button class="btn"> <a  href="{{ path('module_index') }}" class="btn btn-warning">Gérer des modules</a>
    </button>    <br>


    <button class="btn"> <a href="{{ path('actualites_new') }}" class="btn btn-warning">Créer une actualité</a>
 </button>
</div>
{% endblock %}
