{% extends 'base.html.twig' %}
{% block body  %}
            <h1> Liste des utilisateurs</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Rôle</th>
            <th>username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for user in users %}
            <td>{{ user.email }}</td>

            <td>
                {% for role in user.roles %}
                    {%  if role == "ROLE_USER" %}
                        Utilisateur
                    {% elseif role == "ROLE_EDITOR" %}
                        Editeur
                    {% elseif role == "ROLE_ADMIN" %}
                        Administrateur
                        {#                    {% elseif condition %}#}
                    {% endif %}
                {% endfor %}

            <td>{{ user.username }}</td>
            <td>
                <a href="{{ path('admin_modifier_utilisateur',{'id':user.id}) }}" class="btn btn-warning">Modifier</a>

            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan=5> Il n'y a pas d'utilisateur inscrit
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#        boucle sur les utlisateurs#}

{#            <td>{{ user.action }}</td>#}




{% endblock %}