{% extends 'base.html.twig' %}

{% block body %}

<link rel ="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" >

    <div class ="container">


        <div class="row justify-content-center ">
            <img src="{{ asset('img/logo_signature.png') }}" alt="logo">

        </div>
    </div>


    <h1 class="row justify-content-center ">bienvenu à l'IEQT</h1>


    <h5>Créé en 1989, le Campus IEQT Vichy a formé plus de 3 000 talents et propose les programmes Bac+3 Animateur Qualité Sécurité Environnement,
        Bac+4 Chef de projet Qualité Sécurité Environnement et Bac+5 Manager des Risques QHSE.</h5>






    <div class ="container">

        <div class="row justify-content-center">
            <img src="{{ asset('img/logofleur.png') }}" alt="logo">

        </div>
    </div>






{% endblock %}