{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
    <h1 class="row justify-content-center">Page de liste des modules</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Document</th>
                <th>Date de publication</th>
                <th>Date de mise à jour</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
  <button>      <a href="{{ path('module_new') }}">Créer un nouveau module</a></button>

        {% for module in modules %}
            <tr>

                <td>{{ module.name }}</td>
                <td>{{ module.autor }}</td>
                <td>{{ module.content|raw }}</td>

                <td>{{ module.featuredImage }}</td>
                <td>{{ module.createdAt ? module.createdAt|date('Y-m-d ') : '' }}</td>
                <td>{{ module.updatedAt ? module.updatedAt|date('Y-m-d ') : '' }}</td>
                <td>{{ module.categorie }}</td>
                <td>
                    <a href="{{ path('module_show', {'id': module.id}) }}">Voir</a>
{#                    <a href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">pas de module</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
