{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Création d'un nouveau module{% endblock %}

{% block body %}
    <h1 class="row justify-content-center">Création du module </h1>



    {{ include('module/_form.html.twig') }}

    <div class="row justify-content-center">

 <button>   <a href="{{ path('module_index') }}">Revenir à la liste des modules</a></button>
    </div>
{% endblock %}
