{% extends 'base.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
        <div class="container text-center">
        <h1>Module</h1>

    <div class="card mb-3">
        <h3 class="card-header row justify-content-center ">{{ module.name }}</h3>

        <p class="card-title">{{ module.createdAt ? module.createdAt|date('Y-m-d H') : '' }}</p>
        <p class="card-title"> {{ module.updatedAt ? module.updatedAt|date('Y-m-d H') : '' }}</p>

        <div class="card-body row justify-content-center ">
        <p class="card-text"> {{ module.content|raw }}</p>

    </div>
    <h8 class="card-comment"> {{ module.featuredImage }} Commentaire </h8>




<div class="container text-center">

 <button><a href="{{ path('module_index') }}">Revenir à la liste</a></button>

{#    <button> <a href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a></button>#}
ici delete  en commentaire car ne devrai pas etre visible par user mais uniquement par admin
    {{ include('module/_delete_form.html.twig') }}
</div>
{% endblock %}
