{% extends 'base.html.twig' %}


{% block body %}
    <div class="p-5 contact-form">
        <div class="form-group">
            {{ form_start(our_form) }}
            {{ form_row(our_form.fullName, {'attr': {'class': 'form-control'}}) }}


        </div>
        <div class="form-group">
            {{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="form-group">
            {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}

        </div>

        <div class="form-group">
            <input type="submit" value="Envoyer" class="btn btn-primary py-2 px-4">
        </div>
        {{ form_end(our_form) }}
    </div>

{% endblock %}
