<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page d'accueil IEQT Vichy!{% endblock %}</title>
       <link rel ="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" >

        {% block stylesheets %}{% endblock %}


    </head>


    <body>

    {#    nav barre#}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">LMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('module_index') }}">espace enseignant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('module_index') }}">espace élève</a>
                </li>


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('module_index') }}">modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('actualites_index') }}">Actualités</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('security_registration') }}">s'enregistrer</a>
                </li>



                {% if not app.user %}


                <li class="nav-item">
                    <a href="{{ path('security_login') }}" class="nav-link">
                        Connexion
                    </a>
                </li>

              {% else%}

                <li class="nav-item">
                    <a href="{{ path('security_logout') }}" class="nav-link">
                        Déconnexion
                    </a>
                </li>


{#on eleve le bouton admin si on n'est que user#}

                  {%  if is_granted('ROLE_ADMIN') %}
                      <li class="nav-item ">
                      <a class="nav-link" href="{{ path('admin_index') }}">admin</a>
                  </li>

                {% endif %}
                {%  if is_granted('ROLE_USER') %}
                {% endif %}








                {% endif %}



            </ul>
        </div>
    </nav>

    {#nav barre#}

    <div class="container">

        {% block body %}{% endblock %}

    </div>







            {% block javascripts %}{% endblock %}

    </body>
</html>
