{% extends 'base.html.twig' %}

{% block title %}Edit Actualites{% endblock %}

{% block body %}
    <h1>Modifier une actualités</h1>

    {{ include('actualites/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('actualites_index') }}">Revenir à la liste</a>

    {{ include('actualites/_delete_form.html.twig') }}
{% endblock %}
