{% extends 'base.html.twig' %}

{% block title %}Actualites index{% endblock %}

{% block body %}
    <h1 class="row justify-content-center">Liste des actualités</h1>
    <button> <a href="{{ path('actualites_new') }}">Ecrire un nouvel article</a></button>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Titre</th>
                <th>Contenu</th>
{#                <th>Slug</th>#}
                <th>Date de publication</th>
                <th>Commentaire</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
{#                <td>{{ actualite.id }}</td>#}
                <td>{{ actualite.title }}</td>
                <td>{{ actualite.contente|raw }}</td>
{#                <td>{{ actualite.slug }}</td>#}
                <td>{{ actualite.publishAt ? actualite.publishAt|date('Y-m-d') }}</td>
                <td>{{ actualite.comments }}</td>
                <td>{{ actualite.picture }}</td>
                <td>
                    <a href="{{ path('actualites_show', {'id': actualite.id}) }}">Voir</a>
                    <a href="{{ path('actualites_edit', {'id': actualite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
