{% extends 'base.html.twig' %}

{% block title %}Nouvelle actualité{% endblock %}

{% block body %}
    <h1 class="row justify-content-center"> Rédaction d'un nouvel article</h1>

    {{ include('actualites/_form.html.twig') }}



    <a href="{{ path('actualites_index') }}">Revenir à la liste</a>
{% endblock %}
