{% extends 'base.html.twig' %}

{% block title %}Actualites{% endblock %}

{% block body %}





    <div class="card mb-3">
        <h3 class="card-header row justify-content-center ">{{ actualite.title }}</h3>

            <h8 class="card-title">{{ actualite.publishAt ? actualite.publishAt|date('Y-m-d') : '' }}</h8>


        <div class="card-body row justify-content-center ">
            <p class="card-text">{{ actualite.contente|raw }}</p>

        </div>
        <h8 class="card-comment">{{ actualite.comments }}Commentaire </h8>
        {{ actualite.comments }}

    <div class="container "  >
    <div class="row justify-content-center ">
      <button>  <a href="{{ path('actualites_index') }}">Retour aux actualités</a></button>

    <button>  <a href="{{ path('actualites_edit', {'id': actualite.id}) }}">Modifier</a></button>
    </div>
    </div>
{#        {{ include('actualites/_delete_form.html.twig') }}#}


{% endblock %}